# Composer
/vendor/
composer.lock

# PHPUnit
/.phpunit.cache/
/.phpunit.result.cache
/coverage/

# IDE Files
/.idea/
/.vscode/
/.php_cs.cache
/.php-cs-fixer.cache


# Environment Files
/.env

# Logs
*.log

# Cache
/.cache/

